body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #8a0000;
  }
  
  h1 {
    text-align: center;
  }
  
  #charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  svg {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .tooltip {
    position: absolute;
    background: rgb(255, 0, 0);
    padding: 8px;
    border: 1px solid #ff0000;
    font-size: 12px;
    pointer-events: none;
    display: none;
  }
  